

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Profile Picture</th>

    

                  <tr  style='background-color: AZURE'>

                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>4</td>
                     <td>Dobby,the Elf</td>

                      <td >
                         <img src='Uploads/Dobby.jpg'  style='width:120px;height:100px; border-radius: 10px'>
                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>

                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>3</td>
                     <td>Harry Potter</td>

                      <td >
                         <img src='Uploads/Harry_Potter.jpg'  style='width:120px;height:100px; border-radius: 10px'>
                      </td>

                  </tr>
              

                  <tr  style='background-color: AZURE'>

                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>2</td>
                     <td>Hermoine Granger</td>

                      <td >
                         <img src='Uploads/Hermione_Granger.jpg'  style='width:120px;height:100px; border-radius: 10px'>
                      </td>

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>1</td>
                     <td>Ronald Weasley</td>

                      <td >
                         <img src='Uploads/Ronald_Weasley.jpg'  style='width:120px;height:100px; border-radius: 10px'>
                      </td>


                  </tr>
              